@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Color picker override
 */

.react-colorful__last-control,
.react-colorful__interactive {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
